html {scroll-behavior: smooth;}

p { font-size:14px; }

a { 
	color:#000; 
	font-family:'Montserrat';
}
.full-lenght {
	padding-left:0px; 
	padding-right:0px;
}



/* ------------ Header Section START ------*/

#header {
  transition: all 0.5s;
  background: transparent;
  z-index: 997;
  padding: 25px 0;
  border-bottom: none;
}

#header hr { 
	
	border-color: #fff;
    width: 1150px;
    opacity: .25;
}

#header.header-scrolled {
    border-color: #373634 !important;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    background: #373634 !important;
}

#header.header-scrolled hr {display:none;}

#header .bx {
	color:#fff; 
	padding: 0px 12px;
}

/* ------------ HEADER END ------*/


/* ------------ Banner Section START ------*/


.pd-banner {
	padding-top:200px; 
	padding-bottom:200px !important;
}

.banner-section h3 {
  color: #000;
    text-transform: uppercase;
    font-weight: 900;
    background: #fff;
    display: inline-block;
    font-size: 18px;
    margin-left: -570px;
    padding: 14px 14px 14px 570px;
    margin-bottom: 90px !important;
}
.banner-section h1 { 
	color: #fff !important;
	font-size: 57px;
	font-weight: 800;
}

.banner-section {
	color:#fff;
}

.banner-section h2 { 
	color: #ffffff; 
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 30px;
}

#banner {
  width: 100%;
/*  height: 100vh; */
  position: relative;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}

#banner:before {
  content: "";
  background: transparent !important;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

a.scroll-down.scrollto {
    color: #fff;
	font-size: 12px;
}

.form-control2 {
    display: block;
    width: 100%;
    padding: 16px 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.08);
    background-clip: padding-box;
    border: 1px solid #9f9e9d;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button.submit-btn {
    background: #24e09b;
    border: none;
    padding: 20px;
    margin: 0 auto;
    border-radius: 3px;
    color: #fff;
    width: 100%;
}

.get-started-btn {
  margin-left: 25px;
  background: #24e09b;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px 11px 30px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}


.get-started-btn:hover {
  background: #24e09b;
  color: #fff;
}

/* ------------ Header/ Banner Section END ------*/



/* ------------ FEATURE Section START ------*/

.feature {background: linear-gradient(90deg, #000 91%, #fff 10%);}

.feature h2 {
	margin-bottom: 30px;
	color: #fff;
}

.feature h3 {
	font-weight: 200;
	color: #fff; 
	padding-bottom: 30px;
}

.feature p { color: #737373; }

img.icon {
	padding-top: 20px; 
	padding-bottom: 20px;
}

/* ------------ FEATURE SECTION EMD ------*/


/* ------------ SCHEDULE SECTION START ------*/

.tab {
  float: left;
  width: 30%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
}
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #24e09b;
}

/* Create an active/current "tab button" class */
.tab button.active {color: #24e09b; border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
       border-right: 3px solid #fff;
    position: relative;
    width: 101%;}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 30px;
  border: 1px solid #ccc;
  width: 70%;
}

p.time {
    font-size: 22px;
    margin-left: 70px;
}

img.img-schedule-clock {
    float: left;
}

.schedule hr {
	padding-bottom: 20px;}
	
.schedule h2 {
    padding-bottom: 40px;
    font-size: 28px;
}

.tabcontent img {
	margin-left:30px;}

.bottom-side { 
	margin-top: -80px;
	margin-left: 130px;   
	padding-bottom: 20px;
}

.bottom-side h3 { 
	font-size: 16px;
	margin-bottom: 20px;
}

.bottom-side p {color: #bababa;}

.bottom-side button {
    background: transparent;
    border: 2px solid #d9d9d9;
    padding: 5px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    border-radius: 4px;
}

/* ------------ SCHEDULE SECTION END ------*/

/* ------------ MID IMAGE SECTION START ------*/
#mid-image {
  width: 100%;
  position: relative;
  background: url("../img/mid-image.jpg") top center;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 160px;
}

/* ------------ MID IMAGE SECTION END ------*/

/* ------------ CALL TO ACTION SECTION START ------*/

.cta {
    background: linear-gradient(90deg, #fff 10%, #000 10%);
    padding: 30px 0;
}

.cta p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-left: 50px;
	float:left;
	padding-top: 6px;

}

.subscribe {
    margin-left: 30px;
    padding: 10px;
    width: 26%;
}

button.btn-subs {
    background: #24e09b;
    border: none;
    color: #fff;
    padding: 13px 21px;
    margin-left: -7px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

/* ------------ MID IMAGE SECTION START ------*/


/* ------------ COUNTS SECTION START ------*/


.counts .count-box span:after {
    content: "/";
    position: absolute;
    margin-left: 105px;
    margin-top: 14px;
    color: #27e09d;
    font-size: 60px;
    font-weight: 100;
}

.counts .last-child .count-box  span:after {
	display:none;
} 

.counts .count-box span {
	font-weight: 200;
	font-size: 60px;
	color: #000;
}

.counts .count-box p {
	color: #00000087;
	margin-top: 20px;
}

/* ------------ COUNTS SECTION END ------*/



/* ------------ TESTIMONIALS SECTION START ------*/


.testimonials { 
	background: linear-gradient(90deg, #f5f5f5 91%, #fff 10%);     padding-top: 10px;
    padding-bottom: 10px;
}

.testimonials .testimonial-item p  {
    font-style: normal;
    margin: -30px 85px 15px 120px;
    background: transparent;
}

.testimonials .testimonial-item h3 {   
	margin: -16px 120px 15px 137px;  
	border-top: 1px solid #ccc;
	padding-top: 19px;
}

.testimonials .testimonial-item .testimonial-img {
    margin: 1px;
}

.testimonial-img-quote {
	width: 40px !important; 
	position: absolute;
	margin-left: -65px; 
	margin-top: -20px;
}

.testimonials .testimonial-item p::after {
	display:none;
}

.testimonials .testimonial-item {
    text-align: left;
    min-height: auto;
}

.testimonials .owl-dots {
	display: none;
}



/* ------------ TESTIMONIALS SECTION END ------*/



/* ------------ FAQ SECTION START ------*/



.faq .nav-tabs .nav-item.show .nav-link, .faq .nav-tabs .nav-link.active {
    color: #495057;
    border-bottom: 2px solid #000;
}

.faq .nav-tabs .nav-link:focus, .faq .nav-tabs .nav-link:hover {
       border-top: none;
    border-left: none;
    border-right: none;
}

.faq .nav-link {
    display: block;
    padding: 6px 0px;
    margin: 14px;
    color: #000;
}

.faq .nav-tabs { 
	border-bottom: none;
}

.faq h2  {
	padding-bottom: 40px;
	font-size: 28px;
}

.faq h3 { 
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 17px;
}

.faq .faq-list { 
	padding: 0 10px;
}

.faq .faq-list a {
	padding: 0 0px;
}

.faq  li.aos-init.aos-animate {
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    padding: 16px 20px;
    font-family: 'Montserrat';
}


.faq .nav-tabs .nav-item.show .nav-link, .faq .nav-tabs .nav-link.active {
       border-top: none;
    border-left: none;
    border-right: none;
}

/* ------------ FAQ SECTION END ------*/



/* ------------ FOOTER/COPYRIGHT SECTION START ------*/

#footer {padding-bottom: 0px;}


.copy-bg {background: linear-gradient(90deg, #000 91%, #fff 10%); color:#fff; padding-top: 27px;
    padding-bottom: 27px;    margin-top: -5px;}
.copyright {float:left;}
.back-to-top2 {color:#fff; float:right;}



/* ------------ FOOTER/COPYRIGHT SECTION END ------*/

/* ------------ MEDIA QUERY ------*/


@media only screen and (max-width: 1024px) {

.box-feature {padding: 10px 100px 10px 20px;}
.sub { padding-left: 70px;}
.subscribe { margin-left: 50px; }
}

@media only screen and (max-width: 768px) {

.feature { background: linear-gradient(90deg, #000 94%, #fff 10%);}
.feature h3 {font-size: 22px;}
.counts .second-child .count-box  span:after {display:none;} 
.justify-content-end { justify-content: center !important;}
.cta p { font-size: 21px;}
.subscribe { width: 50%;}
}

@media screen and (max-width:812px) and (orientation: landscape){

.counts .second-child .count-box  span:after {display:none;} 
.justify-content-end { justify-content: center !important;}
.cta p {font-size: 22px; }
.subscribe { width: 70%;}
}

@media screen and (max-width:767px){

.container { padding-right: 30px;padding-left: 30px; }
.feature {background:#000;}
.box-feature { padding: 30px;}
.tab { width: 100%;}
.tab button.active {border-right: 1px solid #ccc; width: 100%;}
.tabcontent {width: 100%;}
.bottom-side { margin-top: 30px; margin-left: 0;}
.tabcontent img { margin-left: 10px;}

.cta { background: #000; }
.cta p {margin-left: 0; }
.subscribe {width: 100%; margin-left: -7px; margin-bottom: 10px;}
.sub { padding-left: 0px;}
.counts .count-box span:after { margin-left: 54px;}
.testimonials { background: #f5f5f5;}
.testimonials .testimonial-item p { margin: auto;text-align: center;}
.testimonials .testimonial-item .testimonial-img { margin: 0 auto;}
.testimonial-img-quote { position: relative; margin-left: 0; margin-top: 0; margin: 0 auto; margin-bottom: 21px;}
.testimonials .testimonial-item h3 { margin: auto; padding-top: 20px; padding-bottom: 20px; text-align: center;}
.mg-40 {margin-bottom: 40px;}
.pd-banner {  text-align: center;}
.copy-bg {  background: #000; }
}

