
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 300; 
   font-style: normal;
   font-size: 14px;
   line-height: 22px; 
   color: #b4b4b4; 
}

a {
  color: #2487ce;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px) {
h2 {
    font-size: 35px !important;
	}
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: linear-gradient(to right, #f95d96 0%,#c641e2 100%);
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
background: linear-gradient(to right, #f95d96 0%,#c641e2 100%);
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 1000;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #16507b;
}

#header .logo img {
  max-height: 40px;
}

@media screen and (max-width:768px){

div#carouselExampleIndicators {
    margin-top: 60px;
}

#header {
    height: 60px;
}

}


@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 14px 0 14px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #124265;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #2487ce;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(18, 66, 101, 0.1);
  transition: 0.3s;
  border-radius: 5px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #124265;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #2487ce;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #2487ce;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px 11px 30px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.get-started-btn:hover {
  background: #2079b8;
  color: #fff;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 5px 18px 6px 18px;
    border-radius: 3px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 18px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #124265;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  height: 370px;
    text-align: center;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #124265;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #2487ce;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(10, 38, 58, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


a.defaultBtn { border: 1px solid #343539; color: #343539; line-height: 50px; padding: 0 50px; text-align: center; font-size: 14px; font-weight: 500; display: inline-block; transition: 0.3s; border-radius: 50px; }
a.defaultBtn:hover { background-color: #343539; color: #fff; }

.full-lenght {width:100%; padding-left:0px; padding-right:0px;}

h2 { font-size: 48px; font-weight: 700; color: #343539; padding: 0px; margin: 0px; }

/*--------------------------------------------------------------
# Header/Banner Section
--------------------------------------------------------------*/

header .row { min-height: 90px; }
.topFolow {}
.topFolow ul { display: flex; justify-content: flex-end; align-items: center;}
.topFolow ul li {font-size: 13px;font-weight: 500;color: #222838;padding: 0px;margin: 0 10px;}
.topFolow ul li:first-child { margin-right: 25px; }
.topFolow ul li a {color: #222838;font-size: 18px; transition: 0.3s;}
.topFolow ul li a:hover {color: #ffae00; }
.topFolow ul li a i {}


/*.banBg { background: url(../images/banner.jpg) center top no-repeat; background-size: cover; min-height: 800px; position: relative;  padding: 240px 0 0 0; }*/

.banBg .banTxt h1 { font-size: 71px; font-weight: 700; color: #ffffff; padding: 0px; margin: 0px; }
.banBg .banTxt p { font-size: 14px; font-weight: 200; color: #fff; padding: 15px 0; margin-bottom: 40px; }
.banBg .banTxt a {font-size: 12px; font-weight: 500;color: #fff; line-height: 41px;  border-radius: 25px;   padding: 15px 30px;margin: 0 15px 0 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f95d96+0,c641e2+100 */
background: #f95d96; /* Old browsers */
background: -moz-linear-gradient(left,  #f95d96 0%, #c641e2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #f95d96 0%,#c641e2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #f95d96 0%,#c641e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95d96', endColorstr='#c641e2',GradientType=1 ); /* IE6-9 */ }
.banBg .banTxt a i { font-size: 14px; }
.banBg .banTxt a + a { background: #ffffff; color: #080a0f; margin-right: 0px; }

.banForm { background-color: #ffffff; }
/*.banBg .banForm {position: relative;z-index: 1;background-color: #fff;border-radius: 5px;padding: 30px 25px;width: 70%;    margin-left: 26%;} */

.banBg .banForm {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 25px;
    bottom: 150px;
    width: 100%;
	z-index:999;
}

.carousel-caption {
    position: absolute;
    right: 0px;
    bottom: 25%;
    left: 12%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}


.banBg .banForm h4 {font-size: 30px;font-weight: 700;color: #080a0f;padding: 0px;margin: 0 0 35px;text-transform: uppercase;text-align: center;}
.banBg .banForm .field { margin-bottom: 14px; }
.banBg .banForm .field input[type="text"]  {border: 1px solid #dadada;width: 100%;height: 51px;border-radius: 3px;font-size: 14px;font-weight: 500;color: #fff;padding: 0 15px;}
.banBg .banForm .field input[type="text"]::placeholder { font-size: 12px; opacity: .6;}
.banBg .banForm .field input[type="submit"] {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f95d96+0,c641e2+100 */
background: #f95d96; /* Old browsers */
background: -moz-linear-gradient(left,  #f95d96 0%, #c641e2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #f95d96 0%,#c641e2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #f95d96 0%,#c641e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95d96', endColorstr='#c641e2',GradientType=1 ); /* IE6-9 */
 width: 100%; height: 50px; border-radius: 3px; text-align: center; font-size: 14px; font-weight: 500; color: #fff; cursor: pointer;    border: none; }


.social-link {
    display: flex;
    margin: 7px auto;
    justify-content: center;
}



 
  @media screen and (max-width:768px){
	  
.banBg .banTxt h1 {
    font-size: 31px;}

.carousel-caption {
    bottom: 7%;
}
.banBg .banTxt a {
    line-height: 31px;
    border-radius: 25px;
padding: 12px 18px; }

.banBg .banForm h4 {
    font-size: 20px;
margin: 20px 0 24px;}
 
 .banBg .banForm {
    padding: 10px 25px;
    bottom: 16px;
    width: 80%;
    z-index: 999;
    margin-left: 50px;
}
.social {display:none !important;}
  }
 
 
 
 @media screen and (max-width:767px){

.banBg .banTxt h1 {
    font-size: 27px;}
	
	.banBg .banForm {
    position: relative;
	width: 100%;
	margin:auto;
	 bottom: -30px;

}
.carousel-item, .w-100 { height:300px;}
.carousel-caption {text-align:center;     bottom: 16%;}
.carousel-caption {
    left: 0%;
    padding: 30px;
}
.banBg .banTxt p {
    margin-bottom: 20px;
}
.social {display:none !important;}}
 
 
 
 /*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/


.servSec {padding: 170px 0px 300px;background: #fcfdfe;}
.servSec h2 { max-width: 50% }

.servSec .servInfo {border-top: 2px solid #f5f5f6;padding: 25px 0px 0 35px;margin-right: 35px;}
.servSec .servInfo h6 { font-size: 12px; font-weight: 400; color: #cbcbcb; padding: 0px; margin: 0px; }
.servSec .servInfo h3 { font-size: 26px; font-weight: 600; color: #343539; padding: 0px; margin: 70px 0 40px; }
.servSec .defaultBtn { margin: 100px 0px; }

@media screen and (max-width:767px){
.servSec h2 {
    max-width: 100%;
}

.servSec {
   text-align: center;
	padding: 80px 0px 300px;
    margin-top: 40px;
}
}

/*--------------------------------------------------------------
# Video Section
--------------------------------------------------------------*/


.videoSec { margin: 0 0 150px 0; }
.videoSec .videoBg { background: url(../images/about-bg.jpg) center top no-repeat; background-size: cover; min-height: 600px; padding: 150px 0 0 0; margin-top: -300px; }
.videoSec .videoBg a {}
.videoSec .videoBg h2 { color: #ffffff; margin: 60px 0 30px 0;  }
.videoSec .videoBg p {max-width: 80%; color: #ffffff;}


@media only screen and (max-width: 768px) {
.mg-lf {margin-left:50px}
}
@media screen and (max-width:767px){
.videoBg {
    text-align: center;
}

.mg-lf {
    margin-left: 0px;
}

.videoSec .videoBg p {
    max-width: 100%;
    padding: 10px;
}

.videoSec {
    margin: 0 0 95px 0;
}
}



/*--------------------------------------------------------------
# Why Choice Section
--------------------------------------------------------------*/


.choosSec2 {    background-size: 55% 70% !important;
    background-position: 100% 70% !important;
    background-repeat: no-repeat !important;
    padding-bottom: 130px !important;
    padding-top: 0px !important;}
.choosSec {    padding: 50px 0px; }
.choosSec .choseTxt {width: 565px;float: right;margin-top: 90px;}
.choosSec .choseTxt  .choseInfo { width: 300px; }
.choosSec .choseTxt  .choseInfo h2 {margin-bottom: 50px;}
.choosSec .choseTxt  .choseInfo p {margin-bottom: 60px;}
.choosSec .bodyImg h5 { font-size: 18px; font-weight: 500; color: #1f2125; padding: 0px; margin: 30px 0 15px 0;  }
.choosSec .bodyImg p  {font-size: 12px; font-weight: 300; color: #b4b4b4; padding: 0; margin: 0;}


@media only screen and (max-width: 1024px) {

.choosSec .choseTxt {
    width: 425px;
    float: right;
    margin-top: 40px;
}
}
@media only screen and (max-width: 768px) {
.choosSec .choseTxt {
    width: 325px;
    float: right;
    margin-top: 0px;
}
}

@media screen and (max-width:767px){

.choosSec .choseTxt .choseInfo {
    margin-bottom: 50px;
text-align: center; }


.choosSec .choseTxt {
    width: 100%;
    float: none;
}
.choosSec2 {
padding-bottom: 60px !important; }


.choosSec .choseTxt .choseInfo {
    width: 100%;
    padding: 10px;

}

.clientSec .clientTxt .clientInfo {
	
	max-width: 100% !important;
    float: none !important;
}

.clientSec .row {
    display: flex;
    flex-direction: column-reverse;
}
.clientSec {
    background: none !important;
	padding: 40px 0px !important;

}

.clientInfo {
    margin-bottom: 50px;
text-align:center;
}


.clientSec .clientTxt .clientInfo ul {
    justify-content: center !important; }
	
	
.bodyImg, .bodyImg2 {    margin-bottom: 50px;
    text-align: center;}
	
}

/*--------------------------------------------------------------
# TEstimonials
--------------------------------------------------------------*/


.clientSec { padding: 150px 0px;  background-size: 63% 70% !important; background-position: 10% 70% !important;
    background-repeat: no-repeat !important;}
.clientSec .clientTxt {margin-top: 50px; }
.clientInfo ul { list-style: none; padding-left: 0px;}
.clientSec .clientTxt  .clientInfo { max-width: 350px; float: left; }
.clientSec .clientTxt  .clientInfo h2 {margin-bottom: 50px; padding-bottom: 50px; border-bottom: 1px solid #f6f6f6;}
.clientSec .clientTxt  .clientInfo ul { display: flex; justify-content: flex-start; align-items: center;     margin: 50px 0 60px; }
.clientSec .clientTxt  .clientInfo ul li {margin-right: 20px;}
.clientSec .clientTxt  .clientInfo ul li h5 { font-size: 15px; font-weight: 500; color: #1f2125; padding: 0; margin: 0; }
.clientSec .clientTxt  .clientInfo ul li p {font-size: 12px; font-weight: 300; color: #b4b4b4; padding: 0; margin: 0;}


/*--------------------------------------------------------------
# REGISTER Section
--------------------------------------------------------------*/


.ctaBg {background: url(../images/cta-bg.jpg) center top no-repeat;background-size: cover;text-align: center;}
.ctaBg .row { min-height: 366px;  }
.ctaBg h4 {font-size: 36px;font-weight: 600;color: #fff;padding: 0px;margin: 0;} 
.ctaBg p { font-size: 13px; font-weight: 300; color: #fff; padding: 0px; margin: 30px 0; } 
.ctaBg a.defaultBtn { border: 1px solid #ffffff; color: #ffffff; }
.ctaBg a.defaultBtn:hover { border: 1px solid #343539;  }



/*--------------------------------------------------------------
# NEW BLOG Section
--------------------------------------------------------------*/


.newsSec { padding: 120px 0px; }
.newsSec h2 { text-align: center; margin-bottom: 50px; }
.newsSec h5 { font-size: 18px; font-weight: 600; color: #343539; padding: 0px; margin: 40px 0 20px; }
.newsSec p { font-size: 14px; font-weight: 300; color: #b4b4b4; padding: 0px; margin: 0px; }

@media screen and (max-width:767px){
.newsSec {

    padding: 90px 0px 30px;
    text-align: center;
}

.newsBox {
    margin-bottom: 70px;
}
}


/*--------------------------------------------------------------
# SUBSCRIBE SECTION
--------------------------------------------------------------*/


.formSec {    padding: 50px 0 120px;}
.formSec .formmain {}
.formSec .formmain h3 { font-size: 36px; font-weight: 600; color: #343539; text-align: center; padding:  0px; margin: 0 0 50px 0; }
.formSec .formmain .formBor  {border: 1px solid #d8d8d8;border-radius: 50px;display: flex;padding-left: 20px;}
.formSec .formmain .formBor input[type="text"] {border: 0px;box-shadow: none;background: #ffffff;width: 60%;padding: 0 20px;     font-size: 14px; font-weight: 400; color: #666;}
.formSec .formmain .formBor input[type="submit"] { background: #f95d96; background: -moz-linear-gradient(left, #f95d96 0%, #c641e2 100%); background: -webkit-linear-gradient(left, #f95d96 0%,#c641e2 100%); background: linear-gradient(to right, #f95d96 0%,#c641e2 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95d96', endColorstr='#c641e2',GradientType=1 ); width: 25%; height: 50px; border-radius: 50px; text-align: center; font-size: 14px; font-weight: 500; color: #fff; cursor: pointer; margin-left: auto; }
.formSec .formmain p {padding: 30px 0 0 0; text-align: center;}


@media screen and (max-width:767px){
.formSec .formmain h3 {
    font-size: 26px;}


.formSec .formmain .formBor input[type="submit"] {
    width: 40%;}
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/



footer.footer {background: #fcfdfe;padding: 50px 0px;text-align: center;}
footer.footer p {padding: 0px;margin: 0px;color: #1f2125;font-size: 14px;font-weight: 500;}












