*{padding: 0;margin: 0;box-sizing: border-box;}
img{max-width: 100%;}
h1,h2,h3,h4,h4,p{padding: 0;margin: 0;font-family: 'CeraGR'; sans-serif;line-height: 1.1;}
body{font-family: 'CeraGR'; sans-serif;}
ul{list-style: none;margin: 0;padding: 0;font-size: 0;}
a:hover{text-decoration: none;font-family: 'CeraGR'; sans-serif;}
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Regular.eot'); src: url('fonts/fonts/CeraGR-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Regular.woff2') format('woff2'), url('fonts/fonts/CeraGR-Regular.woff') format('woff'), url('fonts/fonts/CeraGR-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Light.eot'); src: url('fonts/fonts/CeraGR-Light.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Light.woff2') format('woff2'), url('fonts/fonts/CeraGR-Light.woff') format('woff'), url('fonts/fonts/CeraGR-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Black.eot'); src: url('fonts/fonts/CeraGR-Black.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Black.woff2') format('woff2'), url('fonts/fonts/CeraGR-Black.woff') format('woff'), url('fonts/fonts/CeraGR-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Medium.eot'); src: url('fonts/fonts/CeraGR-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Medium.woff2') format('woff2'), url('fonts/fonts/CeraGR-Medium.woff') format('woff'), url('fonts/fonts/CeraGR-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Thin.eot'); src: url('fonts/fonts/CeraGR-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Thin.woff2') format('woff2'), url('fonts/fonts/CeraGR-Thin.woff') format('woff'), url('fonts/fonts/CeraGR-Thin.ttf') format('truetype'); font-weight: 100; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Bold.eot'); src: url('fonts/fonts/CeraGR-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Bold.woff2') format('woff2'), url('fonts/fonts/CeraGR-Bold.woff') format('woff'), url('fonts/fonts/CeraGR-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; font-display: swap; }
.no_pad_left{padding-left: 0;}
.no_pad_right{padding-right: 0;}
.main_heading{font-size: 66px;font-weight: 500;color: #000;padding: 0 0 80px 0;}
.main-header {padding: 40px 0 40px 0; position: fixed; width: 100%; z-index: 999; -webkit-transition: all 700ms; -o-transition: all 700ms; -moz-transition: all 700ms; transition: all 700ms; }
.main-header.fixed-header {background-color: #000000b8; -webkit-transition: all 700ms; -o-transition: all 700ms; -moz-transition: all 700ms; transition: all 700ms; padding: 15px 0 15px 0; -webkit-box-shadow: 0 2px 20px #01010130; -moz-box-shadow: 0 2px 20px #01010130; -o-box-shadow: 0 2px 20px #01010130; box-shadow: 0 2px 20px #01010130; }
.main-header .navbar-nav{width: 100%;}
.main-header .navbar{padding: 0;}
.main-header .navbar-nav .nav-item{padding: 0 15px;display: inline-block !important;}
.main-header .navbar-nav .nav-item:last-child{padding-right: 0;}
.main-header .navbar-nav a{font-size: 12px;font-weight: 500;color: #fff !important;padding:0px;}

.main-header .navbar-nav a.register_btn {width: auto; font-size: 16px; color: #fff; padding: 13px 50px; text-transform: uppercase; background-color: transparent; border: 1px solid #fff; height: auto; }
.theme_btn{background-color: #eb334f; font-size: 16px; color: #fff; padding: 18px 15px; height: 45px; display: inline-block; text-align: center; width: 150px; font-weight: 500; border-radius: 30px; text-transform: capitalize; }
.theme_btn:hover{color: #fff;text-decoration: none;}
.theme_btn span{padding-left: 10px;}
.main_bnner_sec{background-image: url(../images/banner_bg.png); background-repeat: no-repeat; background-position: center top; background-size: cover; width: 100%; height: 1065px; margin: 0px 0 0 0; }
.main_bnner_sec .container-fluid{position: relative;}
.main_bnner_sec .container-fluid .rotate_para {content: ""; position: absolute; left: -130px; top: 0; bottom: 0; margin: auto; font-size: 16px; color: #fff; font-weight: 500; transform: rotate(270deg); width: 300px; height: 15px; letter-spacing: 5px; text-transform: uppercase; }
.main_bnner_sec .container-fluid .banner_social {content: ""; position: absolute; right: 0px; top: 0; bottom: 0; margin: auto; width: 30px; height: 130px; }
.main_bnner_sec .container-fluid .banner_social li {display: block; padding: 40px 0 0 0; }
.main_bnner_sec .container-fluid .banner_social li:first-child{padding-top: 0;}
.main_bnner_sec .container-fluid .banner_social li a{color: #fff;font-size: 14px;}
.h1_heading{padding-bottom: 25px;font-size: 20px; font-weight: 300; color: #efefef; line-height: 1;text-transform: uppercase;}
.h2_heading{font-size: 66px;color: #f4f4f4;font-weight: bold;line-height: 1.1;}
.h2_heading span{}
.banner_cont p {padding: 50px 0 80px 0; font-size: 16px; font-weight: 400; color: #fff; line-height: 1.8; opacity: 0.5; }
.banner_cont p span{display: block;}
.banner_cont a {width: 200px; height: 50px; padding: 13px 15px; font-weight: bold; }
.banner_form{ -webkit-box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); -o-box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); border-radius: 6px; padding: 60px 30px; }
.form_heading h2 {font-size: 42px; font-weight: bold; color: #fff; margin: 0; padding: 0 0 16px 0; text-transform: uppercase; }
.inp_field{margin-top: 16px;}
.inp_field input {width: 100%; border: 1px solid #949494; height: 68px; border-radius: 3px; color: #7f7f7f; font-size: 14px; padding: 15px 25px; background-color: #fff; }
.inp_field input::placeholder{color: #889199;}
.inp_btn_field{margin-top: 30px;}
.inp_btn_field input {border: none; background-color: #eb334f; color: #fff; font-size: 20px;font-weight: 500; border-radius: 3px; width: 100%; height: 68px; cursor: pointer;text-transform: uppercase; }

.main_clients_logo_sec{height: 170px;background-color: #f9f9f9;}
.inner_clients_logo ul{position: relative; display: flex; justify-content: space-around; flex-wrap: wrap; width: 100%; margin-bottom: 0; }
.inner_clients_logo ul li{display: inline-block;}

.main_good_design_sec{padding: 150px 0 100px 0;}
.good_design_cont {padding-left: 60px; }
.good_design_img img{width: 100%;}
.good_design_cont h2 span{display: block;color: #eb334f;font-size: 20px;font-weight: 500;text-transform: uppercase;padding-bottom: 25px;}
.good_design_cont h2{font-size: 66px;font-weight: 500;color: #000000;line-height: 1;}
.good_design_cont p{font-size: 16px;font-weight:400;color: #000000;line-height: 1.8;padding: 50px 0 85px 0;}
.good_design_cont a{height: auto; width: auto; font-weight: 300; padding: 16px 60px; }



.main_our_services_sec{background-color: #f8f8f8;padding: 150px 0 40px 0;}
.services_box{min-height: 615px;}
.servic_img img{width: 100%;}
.service_cont h2{margin: 60px 0 40px 0;position: relative;font-size: 36px;font-weight: 500;color: #000000;padding-left: 30px;line-height: 1;}
.service_cont h2:before{content: ""; position: absolute; left: 0; top: 5px; height: 28px; width: 5px; background-color: #eb334f; }
.service_cont p{font-size: 16px;font-weight: 400;color: #000000;padding-left: 30px;line-height: 1.6;}


.main_testimonials_sec{position: relative; height: 800px; width: 100%; display: block; padding: 100px 0 100px 0; }
.main_testimonials_sec:before{content: ""; position: absolute; left: 0; top: 0; width: 50%; height:100%; background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(../images/testimonials_left.png); }
.main_testimonials_sec:after{content: ""; position: absolute; right: 0; top: 0; width: 50%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(../images/testimonials_right.png); z-index: -1; }
.main_paly_button{position: relative;}
.play {position: absolute; width: 100px; height: 100px; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.play .video-btn {width: 94px; height: 94px; background: radial-gradient(#eb334f 50%, rgba(235, 51, 79, 0.46) 52%); border-radius: 50%; display: block; position: absolute; left: calc(50% - 47px); top: calc(50% - 47px); overflow: hidden; border-color: #eb334f; }
.play .video-btn::before {content: ''; position: absolute; width: 120px; height: 120px; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation: pulsate-btn 2s; animation: pulsate-btn 2s; -webkit-animation-direction: forwards; animation-direction: forwards; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: steps; animation-timing-function: steps; opacity: 1; border-radius: 50%; border: 5px solid rgba(36, 135, 206, 0.7); top: -15%; left: -15%; background: rgba(198, 16, 0, 0); }
.play .video-btn::after {content: ''; position: absolute; left: 50%; top: 50%; transform: translateX(-40%) translateY(-50%); width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 15px solid #fff; z-index: 100; transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.play .video-btn:hover::before {content: ''; position: absolute; left: 50%; top: 50%; transform: translateX(-40%) translateY(-50%); width: 0; height: 0; border: none; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 15px solid #fff; z-index: 200; -webkit-animation: none; animation: none; border-radius: 0; }
.play .video-btn:hover::after {border-left: 15px solid #eb334f; transform: scale(20); }
.testi_inner {padding: 0 60px 0px 0;}
.testi_inner img{}
.testi_inner p{color: #fff;font-size: 22px;font-style: italic;font-weight: 300;line-height: 1.4;padding: 50px 0 85px 0;}
.main_prson{font-size: 0;}
.person_img{display: inline-block;width: 20%;vertical-align: middle;}
.person_cont{display: inline-block;width: 20%;vertical-align: middle;}
.person_cont h3{font-size: 18px;color: #fff;font-weight: 500;}
.person_cont span{font-size: 14px;color: #fff;font-weight: 200;}

.main_pricing_sec{padding: 150px 0 150px 0;text-align: center;}
/*.main_pricing_sec .col-md-9{margin-left: 30px;margin-right: 30px;}*/
.pricing_box{border: 1px solid #cbcbcb;}
.prc_rate{padding: 35px 0 35px 0;border-bottom: 1px solid #cbcbcb;}
.recmed .prc_rate{padding-top: 0;}
.recmed .prc_rate h2{color: #fff;background-color: #1f0e36;font-size: 14px;font-weight: 500;padding: 22px 15px;margin-bottom: 35px;}
.prc_rate h3{font-size: 20px;font-weight: 900;color: #000000;text-transform: uppercase;}
.prc_rate p{font-size: 72px;color: #eb334f;font-weight: bold;padding: 28px 0 10px 0;}
.prc_rate span{font-size: 14px;color: #b1b0b0;font-weight: 500;}
.pri_details{padding: 35px 20px 25px 20px;}
.pri_details ul li{display: block; font-size: 14px; color: #939393; font-weight: 400; line-height: 2.6; }
.pri_details ul li span{font-size: 14px; color: #222222; font-weight: 600; }
.pri_details a{border-radius: 0px;width: 100%;height: auto;padding:14px 15px;margin-top: 15px; }
.recmed a.theme_btn{background-color: #1f0e36;}

.main_porfolio_sec{overflow: hidden;padding-bottom: 170px;}
.main_porfolio_sec .container-fluid{max-width: 1700px;}
.folio_img1 img{width: 100%;}
.folio_img2 img{width: 100%;}
.folio_img3 img{width: 100%;}
.folio_img4 img{width: 100%;}
.folio_img5 img{width: 100%;}
.folio_img6 img{width: 100%;}

.porfolio_img.folio_img4 {margin-top: 30px; }
.porfolio_img.folio_img3 {margin-bottom: 30px; }
.main_cta_sec{background-color: #270f37;height: 295px;padding: 60px 0 60px 0;}
.cta_cont h2{color: #fff;font-size: 42px;font-weight: 500;}
.cta_cont h2 span{display: block;}
.cta_btn{text-align: right;}
.cta_btn a {width: auto; height: auto; padding: 10px 40px; font-weight: 400; }


.main-footer {height: 190px; padding: 60px 0 60px 0; }
.ftr_social ul li{display: inline-block;padding: 0 15px;}
.ftr_social ul li a{font-size: 14px;color: #000;}
.copy_rights p{font-size: 14px;color: #26272b;opacity: 0.5;}






@media screen and (max-width: 1550px) {
 

}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1300px) {
  

}

@media screen and (max-width: 1024px){
.banner_cont p span, .cta_cont h2 span{display: inline;}
.person_img{width: 40%;}
.person_cont{width: 30%;}

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 


}

@media screen and (max-width: 768px){
.navbar-light .navbar-toggler {color: #fff; border-color:#fff; background-color: #fff; }
.main_bnner_sec{height: auto;padding: 100px 0 60px 0;}
.h2_heading{font-size: 36px;}
.banner_form{padding: 30px 0 0 0;}
.form_heading h2{font-size: 30px;padding: 0;}
.inner_clients_logo ul li {width: 13%; }
.good_design_cont h2{font-size: 26px;}
.main_good_design_sec {padding: 70px 0 70px 0; }
.good_design_cont a {padding: 12px 40px; }
.good_design_cont p {padding: 25px 0px 35px 0; }
.main_our_services_sec {padding: 70px 0 40px 0; }
.main_heading {font-size: 44px; padding: 0 0 50px 0; }
.service_cont h2 {margin: 35px 0 25px 0; font-size: 26px; }
.services_box {min-height: 450px; }
.testi_inner {padding: 0 20px 0px 0; }
.person_img{width: 40%;}
.person_cont{width: 30%;}
.testi_inner img {width: 90px; }
.main_pricing_sec {padding: 70px 0 70px 0; }
.cta_cont h2{font-size: 30px;}
.cta_cont h2 span{display: inline;}
.cta_btn a {padding: 10px 30px; font-weight: 400; }
.main_cta_sec{height: auto;padding: 30px 0 30px 0;}
.main-footer {height: auto; padding: 30px 0 30px 0; }
.main-header {padding: 20px 0 40px 0; }
.banner_cont p span{display: inline;}
.main-header .navbar-nav{padding: 15px;}

}


@media screen and (max-width: 736px){
.main-header {padding: 20px 0 20px 0; }
.main_bnner_sec{height: auto;padding:160px 0 100px 0; }
.h2_heading, .good_design_cont h2{font-size: 40px;}
.h1_heading {padding-bottom: 15px; font-size: 18px; }
.banner_cont p, .good_design_cont p {padding: 30px 0 40px 0; }
.good_design_cont {padding-left: 0px;text-align: center; }
.main_good_design_sec{padding: 60px 0 60px 0;}
.main_our_services_sec{padding: 60px 0 20px 0;}
.main_heading{font-size: 40px;padding-bottom: 40px;}
.services_box {min-height: 425px; }
.service_cont h2{font-size: 28px;margin: 30px 0 25px 0;}
.main_testimonials_sec{height: auto;padding: 60px 0 60px 0;}
.main_testimonials_sec:before{width: 100%;height: 200px;}
.main_testimonials_sec:after{width: 100%;height: 435px;top:200px;}
.testi_inner {padding: 175px 0px 0px 0; }
.play .video-btn {top: calc(50% - 0px); }
.testi_inner p {font-size: 18px; padding: 29px 0 35px 0; }
.testi_inner img {width: 75px; }
.person_img{width: 25%;}
.person_cont{width: 25%;}
.main_pricing_sec{padding: 60px 0 60px 0;}
.no_pad_left{padding-left: 15px;}
.no_pad_right{padding-right: 15px;}
.main_cta_sec{padding: 30px 0 30px 0;height: auto;}
.cta_cont h2{font-size: 28px;}
.cta_cont h2 span{display: inline;}
.cta_btn{text-align: center;padding-top: 30px;}
.main_bnner_sec .container-fluid .rotate_para, .main_bnner_sec .container-fluid .banner_social{display: none;}
.banner_form{padding: 60px 0 0 0;}
.inner_clients_logo ul li {display: inline-block; width: 50%; text-align: center; padding: 15px 0; }
.main_clients_logo_sec{height: auto;padding: 30px 0 30px 0;}
.main-footer{height: auto;padding: 30px 0;}
.ftr_social {text-align: center; }
.copy_rights {text-align: center; padding-bottom: 20px; }
.main_porfolio_sec{height: auto;padding: 60px 0 60px 0;}
.folio_img3 img {width: 100%; }
.form_heading h2 {font-size: 32px; padding: 0 0 0px 0;text-align: center; }
.main-header .navbar-nav a.register_btn {padding: 13px 20px; }
.porfolio_img.folio_img5 {margin-bottom: 30px; }
.porfolio_img.folio_img2 {margin-bottom: 30px; }
.porfolio_img.folio_img4 {margin-bottom: 30px; }
.banner_cont{text-align: center;}
.pricing_box {margin-bottom: 30px; }
.cta_cont{text-align: center;}


}


@media screen and (max-width: 480px){	
.main-header {padding: 20px 0 20px 0; }
.main_bnner_sec{height: auto;padding:160px 0 100px 0; }
.h2_heading, .good_design_cont h2{font-size: 40px;}
.h1_heading {padding-bottom: 15px; font-size: 18px; }
.banner_cont p, .good_design_cont p {padding: 30px 0 40px 0; }
.good_design_cont {padding-left: 0px; }
.main_good_design_sec{padding: 60px 0 60px 0;}
.main_our_services_sec{padding: 60px 0 20px 0;}
.main_heading{font-size: 40px;padding-bottom: 40px;}
.services_box {min-height: 425px; }
.service_cont h2{font-size: 28px;margin: 30px 0 25px 0;}
.main_testimonials_sec{height: auto;padding: 60px 0 60px 0;}
.main_testimonials_sec:before{width: 100%;height: 200px;}
.main_testimonials_sec:after{width: 100%;height: 435px;top:200px;}
.testi_inner {padding: 175px 0px 0px 0; }
.play .video-btn {top: calc(50% - 0px); }
.testi_inner p {font-size: 18px; padding: 29px 0 35px 0; }
.testi_inner img {width: 75px; }
.person_img{width: 25%;}
.person_cont{width: 25%;}
.main_pricing_sec{padding: 60px 0 90px 0;}
.no_pad_left{padding-left: 15px;}
.no_pad_right{padding-right: 15px;}
.main_cta_sec{padding: 30px 0 30px 0;height: auto;}
.cta_cont h2{font-size: 28px;}
.cta_cont h2 span{display: inline;}
.cta_btn{text-align: center;padding-top: 30px;}
.main_bnner_sec .container-fluid .rotate_para, .main_bnner_sec .container-fluid .banner_social{display: none;}
.banner_form{padding: 60px 0 0 0;}
.inner_clients_logo ul li {display: inline-block; width: 50%; text-align: center; padding: 15px 0; }
.main_clients_logo_sec{height: auto;padding: 30px 0 30px 0;}
.main-footer{height: auto;padding: 30px 0;}
.ftr_social {text-align: center; }
.copy_rights {text-align: center; padding-bottom: 20px; }
.main_porfolio_sec{height: auto;padding: 60px 0 60px 0;}
.folio_img3 img {width: 100%; }
.form_heading h2 {font-size: 32px; padding: 0 0 0px 0; }
.main-header .navbar-nav a.register_btn {padding: 13px 20px; }


}


@media screen and (max-width: 375px){


}

@media screen and (max-width: 320px){
.main-header .navbar-nav a.register_btn {font-size: 13px; padding: 13px 16px; }
.h2_heading, .good_design_cont h2 {font-size: 34px; }
.main_heading {font-size: 34px; padding-bottom: 40px; }
.service_cont h2 {font-size: 24px; margin: 30px 0 25px 0; }
.services_box {min-height: 400px; }
.cta_cont h2 {font-size: 24px; }
.person_img{width: 30%;}
.person_cont{width: 30%;}
.main_testimonials_sec:after {height: 488px; }


}



/****************************************
  IMPORTANT 
*****************************************/

.scroll_Top {position: fixed; right: 1%; bottom: 10px; background-color: #eb334f; opacity: 0; transition: all 0.4s ease-in-out 0s; border-radius: 6px; line-height: 1; }
.scroll_Top a {font-size: 18px; color: #fff; padding: 15px; display: inline-block; }






































